@{
    ViewData["Title"] = "Access denied";
}
<br />
<div class="row">
    <div class="col-md-6 offset-3">
        <img class="img-" src="http://res.cloudinary.com/fehbot/image/upload/v1513886836/CodeUnderflow/no-stopping.svg" />
    </div>
</div>
