@model EditAnswerModel
@{
    this.ViewData["Title"] = "Edit answer";
}
    <br />
<div class="row">
    <div class="col-md-8 offset-2">
        <form asp-action="Edit" asp-controller="Answers" method="post">

            <input type="hidden" asp-for="AnswerId" />
            <input type="hidden" asp-for="QuestionId" />
            <textarea asp-for="Content" rows="8" class="form-control"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
                <br />
            <a asp-controller="Questions" asp-action="Details" asp-route-id="@Model.QuestionId"class="btn btn-secondary" data-dismiss="modal">Cancel <i class="fas fa-chevron-circle-left"></i></a>
            <button type="submit" class="btn btn btn-outline-warning">Save <i class="fas fa-save"></i></button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}