@{
    ViewData["Title"] = "Landing";
}

    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
            <h2 class="display-3">Welcome to</h2>
            <h1 class="display-1 text-info"><strong>CodeUnderflow</strong></h1>
            <p class="lead">Ask a question or answer one and be part of a community of IT Professionals.</p>
            <h3 class="display-2">&lt;/&gt;</h3>
            </p>
        </div>
    </div>