@model NewQuestionModel
@{
    this.ViewData["Title"] = "New Question";
}
<link rel="stylesheet" href="~/lib/trumbowyg/dist/ui/trumbowyg.min.css">
<div class="text-center">
    <h2>Ask a question</h2>
</div>
<div class="row">
    <div class="col-md-9">
        <form asp-action="New" method="post">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" placeholder="Questions title">
                <small class="form-text text-muted">Keep it short and clear for best results</small>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content"></label>
                <textarea asp-for="Content" class="form-control" id="editor" rows="12" style="word-wrap:break-word;"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tags"></label>
                <input asp-for="Tags" class="form-control" placeholder="c#, java, ef6, go">
                <small class="form-text text-muted">Separate tags by "," or " ", at least one tag is required.</small>
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>
            <button type="submit" value="Ask" class="btn btn-lg btn-outline-success">Ask</button>
        </form>
    </div>
    <div>
    </div>
    <div class="col-md-3" style="background-color:aqua">
        TEST
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    @await Html.PartialAsync("_EditorScripts")
}